* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-block: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-family: "Bai Jamjuree", sans-serif;

    color: #9EABB2
}




.header {
    background-image: url(../assets/images/bg-header-mobile.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 124px;
    text-align: center;
    width: 311px;
}

@media screen and (min-width: 768px) {
    .header {
        background-image: url(../assets/images/bg-header-desktop.png);
        background-repeat: no-repeat;
        width: 1440px;
    }
}

.logo-c {
    width: 125px;
    height: 125px;
    margin-bottom: 64px;

}

.h1 {
    color: #4C545C;
    font-weight: 400;
    font-size: 32px;

}

.h2-2 {
    color: #4C545C;
    font-weight: 400;
    font-size: 28px;
    width: 311px;
}

.h2 {
    color: #4C545C;
    font-weight: 400;
    font-size: 24px;
    width: 311px;
}

@media screen and (min-width: 768px) {
    h2 {
        width: 1440px;
    }
}

.text {
    font-weight: 400;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .text {
        width: 730px;
        height: 90px;
    }
}


.button {
    color: #fff;
    width: 311px;
    padding: 0.75rem 3rem;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .button {
        width: 227px;
        padding: 14px 36px;
    }
}

.button--green {
    background-color: #26BBA4;
    box-shadow: 0px 10px 20px #209f8c67, inset 0px -3px #209F8B;

}

.button--blue {
    background-color: #6174FF;
    box-shadow: 0px 10px 20px #4653b760, inset 0px -3px #4653B7;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}





.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
}

@media screen and (min-width: 768px) {
    .info {
        width: 1440px;
    }

}


.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}



@media screen and (min-width: 768px) {
    .features {
        width: 1440px;

    }

}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 311px
}

@media screen and (min-width: 768px) {
    .features-text {
        position: relative;
        top: -520px;
        left: 200px;
        width: 350px;
        height: 406px;
    }
}

.image-computer {
    position: relative;
    display: block;
    width: 312px;
    height: 238px;
}

@media screen and (min-width: 768px) {
    .image-computer {
        width: 752px;
        height: 572px;
        position: relative;
        right: 400px;
    }

}

.clipboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
    
}
@media screen and (min-width: 768px) {
    .clipboard {
        display: flex;
        flex-direction: column;
        width: 1110px;
        height: 216px;
        position: relative;
       bottom: 80px;
    }
}


.posibilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px
}

@media screen and (min-width: 768px) {
    .posibilities {
        display: flex;
        flex-direction: row;
        width: 1110px;
        height: 216px;
        position: relative;
        right: 400px;
    }
}

.workflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
}
.blacklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
}
@media screen and (min-width: 768px) {
    .blacklist {
        
        width: 350px;
       
        
    }
}

.snippets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
}
@media screen and (min-width: 768px) {
    .snippets{
        
        width: 350px;
       
        
    }
}
.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;
}
@media screen and (min-width: 768px) {
    .preview{
        width: 350px;    
    }
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;  
}
@media screen and (min-width: 768px) {
    .list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1110px; 
    position: relative;
    top: 150px; 
    left: 250px;
    padding: 32px;
    }
}

.logo{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 311px;  
    padding: 64px;
    
}
@media screen and (min-width: 768px) {
    .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1110px; 
    position: relative;
    top: 64px; 
    left: 10px;
    
    }
}

.logo--google{
    padding: 32px;
}
.logo--ibm{
    padding: 32px;
}
.logo--microsoft{
    padding: 32px;
}
.logo--hp{
    padding: 32px;
}
.vector-graphics{
    pa
}


